// Typography
$f-logo: "Good Dog Cool", serif;

// Colors
$c-white: #fff;
$c-black: #000;
$c-brown: #1C0808;
$c-gray: #747474;
$c-cream: #e3e3db;
$c-light_green: #cbd1c7;
$c-green: #7d9993;
$c-red: #9e3b14;

// Functional name for colors 
$c-body_bg: $c-white;