p Create some things:
= link_to 'New City', test_new_city_path
br
= link_to 'New Place', test_new_place_path
br
= link_to 'New Photo', test_new_photo_path
br
= link_to 'New Review', test_new_review_path